*.o

!*.exe

library_compilation/**/debug/
library_compilation/**/Debug/
library_compilation/**/release/
library_compilation/**/Release/
library_compilation/**/output/
library_compilation/**/iar/settings/
library_compilation/**/iar/*.dep
library_compilation/**/iar/*.ewt
library_compilation/**/mdk/Listings/
library_compilation/**/mdk/*.uvguix.nxa*
library_compilation/**/mcux/.settings/
library_compilation/dsc/**/*.d
library_compilation/dsc/**/*.args
library_compilation/dsc/**/*.local
library_compilation/dsc/**/*.cwGenerated*
!library_compilation/**/*.uvprojx
!library_compilation/**/*.uvoptx
!library_compilation/**/*.lib
*.nxa28181
*.cmake

.vscode