/*
 * Copyright 2025 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/{
	aliases {
		test-counter = &ctimer0;
	};

	zephyr,user {
		io-channels = <&lpadc0 0>, <&lpadc0 1>, <&lpadc0 2>;
	};
};

&ctimer0 {
	status = "okay";
};

&lpadc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	/* adc channel internal Voltage Low */
	channel_adc_vl: channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_EXTERNAL0";
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <0>;//ADC_ACQ_TIME_DEFAULT
		zephyr,resolution = <16>;//<12>;
		zephyr,input-positive = <24>;
	};

	/* adc channel internal Voltage High/4 */
	channel_adc_vh: channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_EXTERNAL0";
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <0>;//ADC_ACQ_TIME_DEFAULT
		zephyr,resolution = <16>;//<12>;
		zephyr,input-positive = <29>;
	};

	/* adc channel internal Band Gap voltage */
	channel_adc_bg: channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_EXTERNAL0";
		zephyr,vref-mv = <3300>;
		zephyr,acquisition-time = <0>;//ADC_ACQ_TIME_DEFAULT
		zephyr,resolution = <16>;//<12>;
		zephyr,input-positive = <27>;
	};
};
